@media (min-width:900px) {
  main div:nth-of-type(2) {
    grid-area: 1 / 1 / 1 / 1;
  }
  
  .author {
    grid-area: 1 / 2 /1 /2;
  }
  
  .products {
    grid-area: 1 / 1 / 1 / 1;
  }
  
  main div.topics {
    grid-area: 4 / 1 / 4 / 1;
  }
  
  main div:first-of-type {
    grid-area: 1 / 2 / 2 / 2;
  }
  
  main div:nth-of-type(4) {
    grid-area: 1 / 2 / 2 / 2;
  }

  .category {
    grid-area: 1 / 2 / 2 / 2;
  }
  
  .default {
    width: 100%
  }

  main div:nth-of-type(2) p img {
    width: auto;
    height: 100vh;
  }

  main div:nth-of-type(2) {
    width: auto;
    height: 100vh;
  }

  main {
    display:  grid;
    grid: auto-flow / auto 1fr;
    grid-template-areas:
      "image    category"
      "image    title"
      "products    post"
      "post        post"
      "author   topics";
    grid-template-columns: 50% 50%;
    grid-template-rows: 3%;
  }

  .home-page main .post {
    margin: 0 2rem 2rem 0;
  }

  .products {
    border: none;
  }

  div.default.left {
    margin-top: 30px;
    margin-right: 0;
    width: unset;
    align-self: start;
  }

  .home-page .latest-posts {
    background-color: white;
  }

  .home-page main li:first-child .post {
    flex-direction: row;
  }

  .home-page main li:first-child .hero {
    width: 60vw;
  }

  .home-page main li:first-child .content {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    width: 40vw;
  }
}