/*
 * Copyright 2018 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
*/
.home-page main li:first-child .teaser {
    color: currentColor;
    font-weight: normal;
    font-size: 1.1rem;
  }
  .home-page main .default {
    width:100vw;
    padding: 0;
  }
  .home-page main div:first-of-type {
    text-align: left;
  }
  
  .home-page .latest-posts {
    padding: 0 0 2rem 0;
  }
  
  .home-page .latest-posts::before {
    display: none;
  }
  
  .home-page main .ais-Hits ol,
  .home-page main .ais-Hits ul {
    justify-content: center;
  }
  .home-page main li:first-child .post {
    width: 100vw;
    margin: 0 0 30px 0;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    height: unset;
  }
  
  .home-page main li:first-child .hero {
    width: 100vw;
    height: 30vh;
  }
  
  .home-page main li:first-child .hero img {
    height: 100%;
    width: auto;
  }
  
  .home-page main li:first-child .topic {
    display: none;
  }
  .home-page main li:first-child h2 {
    font-size: 2.25rem;
  }
  
  .home-page main li:first-child .content {
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    width: 100vw;
    box-sizing: border-box;
    height: unset;
  }
  
  .home-page main li:first-child span {
    font-weight: 600;
  }
  
  .home-page main li:first-child::after {
    content: "Latest Stories";
    display: block;
    margin: 1rem auto 2rem;
    color: rgb(153,153,153);
    text-align: center;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Adobe Clean",sans-serif;
    font-size: 1.5rem;
    line-height:18px;
    font-weight: 600;
    user-select: text;
  }
  
  .hide-all {
    display: none;
  }